<footer class="contenedor">
    <div>
        <button class="btn" style="width: auto; background-color: transparent;" onClick="window.open('//classpip-onboarding.herokuapp.com/legalwarning')">Aviso Legal</button>
        <span style="color: white">|</span>
        <button class="btn" style="width: auto; background-color: transparent;" onClick="window.open('//classpip-onboarding.herokuapp.com/privacy')">Privacidad</button>

      </div>
      <div>
        <span style="color: white">Classpip © 2016 - 2019</span>
      </div>
</footer>
