.logo {
  max-width: 100px;
  max-height: 100px;
}

table {
  width: 90%;
  text-align: center;
}

.contenedor{

  width: 70%;
  margin-left: 15%;
  height: auto;
  padding: 10px;
  border: 10px solid transparent;
  background-color: transparent;

}

.contenedor2{

  border: 10px solid transparent;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  justify-content: space-between;
  // align-items: center;
}
.contenedor3{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  justify-content: center;
  flex-direction: column;
  // align-items: flex-start;
  border:15px solid transparent;

}
.logo {
  width: 130px;
  height: 130px;
  max-width: 130px;
  max-height: 130px;
}

