.logo {
  max-width: 100px;
  max-height: 100px;
}

table {
  width: 90%;
  text-align: center;
}

.contenedor{

  width: 70%;
  margin-left: 15%;
  height: auto;
  padding: 10px;
  border: 10px solid transparent;
  background-color: transparent;

}
