<h3>Cromos Coleccion</h3>
<mat-divider></mat-divider>
<mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let cromo of cromosColeccion"
        [colspan]="1"
        [rowspan]="4"
        [style.background]="white">
        <mat-card class="cromo" [ngClass]="{
          'Diamante' : cromo.Nivel === 'Diamante',
          'Platino' : cromo.Nivel === 'Platino',
          'Oro' : cromo.Nivel === 'Oro',
          'Plata' : cromo.Nivel === 'Plata',
          'Bronce' : cromo.Nivel === 'Bronce'}">
          <mat-card-header>
            <div style="display: flex; justify-content:space-between; width: 250px ">
            <div  >
            <mat-card-title>{{cromo.Nombre}}</mat-card-title>
            <mat-card-subtitle><p style="margin-bottom: -2px;">Nivel: {{cromo.Nivel}} </p><p style="margin-bottom: -2px;">Probabilidad: {{cromo.Probabilidad}} </p></mat-card-subtitle>
          </div>
          </div>
          </mat-card-header>
          <mat-card-content style="display: flex; align-items: center;justify-content: center;">
          <div class="posicionImagen" >
          <img class ="imagenCromo" *ngIf="imagenCromo" mat-card-image [src]="imagenCromo" >
        </div>
      </mat-card-content>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-dialog-actions align= "end">
      <button mat-button [mat-dialog-close]  style="background-color: rgb(240, 173, 78)" class="btn">Cerrar</button>
  </mat-dialog-actions>
