.panel{

  background-color: rgb(97, 10, 203);
  width: 600px;

}

.foto {
  max-width: 100px;
  max-height: 100px;
}


mat-card-title {
  color: white
}

mat-card-subtitle{
  color: white;
}

label{
  color: white;
}

table {
  width: 100%;
  table-layout:fixed;
  text-align: center;
}

.material-icons.red { color: rgb(228, 8, 8); }
.material-icons.md-36 { font-size: 36px; }

.contenedor{

  width: auto;
  height: auto;
  padding: 10px;
  border: 10px solid transparent;
  background-color: transparent;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}
