.panel{

  background-color: rgb(97, 10, 203);
  width: 600px;

}

.foto {
  max-width: 100px;
  max-height: 100px;
}

.btn-aceptar {
  background-color: rgb(232, 12, 122);
  border-color: rgb(232, 12, 122);
  color: white;
}

mat-card-title {
  color: white
}

mat-card-subtitle{
  color: white;
}

label{
  color: white;
}

table{
  width: 90%;
}

.material-icons.red { color: rgb(228, 8, 8); }
.material-icons.md-36 { font-size: 36px; }
