/* Colores de iconos */
.material-icons.red { color: rgb(212, 57, 52); }
.material-icons.green { color: rgb(92, 184, 92); }
.material-icons.margin { margin-top: 10 px; margin-left: 10 px;}

.titulo{
  width: 70%;
  margin-left: 15%;
  height: 60px;
  padding: 10px;
  color: rgb(63, 81, 181);

}

.h2, h2 {
  font-size: 2.5rem !important;
}


.contenedor{

  width: 70%;
  margin-left: 15%;
  height: auto;
  padding: 10px;
  border: 10px solid transparent;
  background-color: transparent;

}


.contenedor2{

  border: 10px solid blue;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  // justify-content: space-between;
  // align-items: center;
}
.contenedor3{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  justify-content: left ;
  flex-direction: column;
  // align-items: flex-start;
  border: solid transparent;

}
.elemento{
  /* color:rgba(0,0,0,.87); */
  // margin: 5px;
  width: auto;
  height: auto;
  background-color:transparent;
  text-align: center;
  align-items: center;

  }
  .material-icons{
    width: 15px;
    height: 15px;
  }

  .btn{
    margin: 5px;
    align-items: center;
    color: white;
    width: 170px;
  }
.btnCambiarStep{
  display: flex;
  justify-content: flex-end;
}
.CabeceraActivos {
  background-color: rgb(92, 184, 92);
  color: white;
  font-style: bold;
  width: 100%;
}

.CabeceraInactivos {
  background-color: rgb(212, 57, 52);
  color: white;
  font-style: bold;
  width: 100%;
}

.ItemsInactivos {
  font-style: oblique;
  color: grey;
}

.mat-list-item:hover {
  background-color: rgb(204, 197, 197);
  cursor: pointer;
  width: 100%;
}



.AvisoNoJuegosActivo {
  margin-top: 10px;
  margin-left: 10px;
  font-style: oblique;
}

.mat-chip {
  max-width: 200px;
}

.LabelStepper {
  font-style: oblique;
  color: rgb(73, 73, 73);
}
.panel{

  background-color: rgb(63, 81, 181);
  margin: 40px;
  width: 90%;
}

