<form>
    <h4>Clasificación por puntos:</h4>
  <mat-form-field>
    <mat-label>Puntos</mat-label>
    <select matNativeControl [(ngModel)]="puntoSeleccionadoId" name="punto" (change) = "MostrarRankingSeleccionado()">
      <option *ngFor="let punto of listaSeleccionable" [value]="punto.id">
        {{punto.Nombre}}
      </option>
    </select>
  </mat-form-field>
  </form>

    <div class="contenedor">
        <div class="elemento">
          <button type="button"  style="background-color: rgb(240, 173, 78)" class="btn" (click) = Informacion(); routerLink = "informacionJuego">Información<i class="material-icons">info</i></button>
        </div>
        <div class="elemento">
          <button type="button" style="background-color: rgb(92, 184, 92)" class="btn" (click) = "AbrirDialogoConfirmacionReactivar()">Reactivar<i class="material-icons">check_circle_outline</i></button>
        </div>
        <div class="elemento">
          <button type="button" style="background-color: rgb(212, 57, 52)" class="btn"(click) = "AbrirDialogoConfirmacionEliminar()"> Eliminar<i class="material-icons">delete</i></button>
        </div>
      </div>

  <form *ngIf="rankingJuegoDePuntos[0]">

    <div class = "filter">
      <mat-form-field style=" width: 95% !important;">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro para buscar alumno...">
          <i class="material-icons" matSuffix>search</i>
        </mat-form-field>
    </div>

    <table align="center" mat-table [dataSource]="datasourceAlumno" class="example-container mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Posición Column -->
      <ng-container matColumnDef="posicion">
        <th mat-header-cell *matHeaderCellDef class="letraCabecera"> Posicion </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.posicion}} </td>
      </ng-container>

      <!-- Nombre Alumno Column -->
      <ng-container matColumnDef="nombreAlumno">
        <th mat-header-cell *matHeaderCellDef class="letraCabecera"  style="width: 15%"> Nombre </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.nombre}} </td>
      </ng-container>

      <!-- Primer Apellido Column -->
      <ng-container matColumnDef="primerApellido">
        <th mat-header-cell *matHeaderCellDef class="letraCabecera"  style="width: 15%"> Primer Apellido </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.primerApellido}} </td>
      </ng-container>

      <!-- Segundo Apellido Column -->
      <ng-container matColumnDef="segundoApellido">
        <th mat-header-cell *matHeaderCellDef class="letraCabecera"  style="width: 15%"> Segundo Apellido </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.segundoApellido}} </td>
      </ng-container>

      <!-- Puntos Column -->
      <ng-container matColumnDef="puntos">
        <th mat-header-cell *matHeaderCellDef class="letraCabecera"  style="width: 15%"> Puntos </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.puntos}} </td>
      </ng-container>


      <!-- Nivel Column -->
      <ng-container matColumnDef="nivel">
        <th mat-header-cell *matHeaderCellDef class="letraCabecera"  style="width: 15%"> Nivel </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.nivel}} </td>
      </ng-container>

          <!-- More Column -->
      <ng-container matColumnDef=" ">
        <th mat-header-cell *matHeaderCellDef class="letraCabecera" style="width: 10%"></th>
        <td mat-cell *matCellDef="let alumno">
            <button (click) = "AccederAlumno(alumno)" routerLink = "informacionAlumnoJuego" mat-icon-button matTooltip="Ver progreso de {{alumno.nombre}} en el juego">
                <i class="material-icons">more_horiz</i>
            </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsAlumnos; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsAlumnos;"></tr>

    </table>
  </form>


   <!-- ////////////////////////////////////// CLASIFICACIÓN EQUIPOS ////////////////////////////////////////////////////-->
  <form *ngIf="rankingEquiposJuegoDePuntos[0]">

    <div class = "filter">
      <mat-form-field  style=" width: 95% !important;">
          <input matInput (keyup)="applyFilterEquipo($event.target.value)" placeholder="Filtro para buscar equipo...">
          <i class="material-icons" matSuffix>search</i>
        </mat-form-field>
    </div>

    <table  align="center" mat-table [dataSource]="datasourceEquipo" class="example-container mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Posición Column -->
      <ng-container matColumnDef="posicion">
        <th mat-header-cell *matHeaderCellDef class="letraCabecera" style="width: 18%"> Posicion </th>
        <td mat-cell *matCellDef="let equipo"> {{equipo.posicion}} </td>
      </ng-container>

      <!-- Nombre Alumno Column -->
      <ng-container matColumnDef="nombreEquipo">
        <th mat-header-cell *matHeaderCellDef class="letraCabecera" style="width: 18%"> Nombre </th>
        <td mat-cell *matCellDef="let equipo"> {{equipo.nombre}} </td>
      </ng-container>


      <!-- Miembros Column -->
      <ng-container matColumnDef="miembros">
        <th mat-header-cell *matHeaderCellDef class="letraCabecera" style="width: 18%"> Miembros </th>
        <td mat-cell *matCellDef="let equipo"><button mat-icon-button matTooltip="Ver miembros de {{equipo.nombre}}" color="primary"
          [mdePopoverTriggerFor]="appPopover" (click) = "AlumnosDelEquipo(equipo)"
          mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
          <i class="material-icons">group</i>
        </button>

        <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 300px">
              <mat-card-content>
                <mat-list>
                  <mat-list-item *ngFor="let alumno of alumnosEquipo">
                    <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
                    <p class="md-body-1" mat-line>{{alumno.Nombre}} {{alumno.PrimerApellido}} {{alumno.SegundoApellido}}</p>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
        </mde-popover>
      </td>
      </ng-container>


      <!-- Puntos Column -->
      <ng-container matColumnDef="puntos">
        <th mat-header-cell *matHeaderCellDef class="letraCabecera" style="width: 18%"> Puntos </th>
        <td mat-cell *matCellDef="let equipo"> {{equipo.puntos}} </td>
      </ng-container>


      <!-- Nivel Column -->
      <ng-container matColumnDef="nivel">
        <th mat-header-cell *matHeaderCellDef class="letraCabecera" style="width: 18%"> Nivel </th>
        <td mat-cell *matCellDef="let equipo"> {{equipo.nivel}} </td>
      </ng-container>

          <!-- More Column -->
      <ng-container matColumnDef=" ">
        <th mat-header-cell *matHeaderCellDef class="letraCabecera"></th>
        <td mat-cell *matCellDef="let equipo">
            <button (click) = "AccederEquipo(equipo)" routerLink = "informacionEquipoJuego" mat-icon-button matTooltip="Ver progreso de {{equipo.nombre}} en el juego">
                <i class="material-icons">more_horiz</i>
            </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsEquipos; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsEquipos;"></tr>

    </table>

  </form>

  <div class="contenedor"></div>
