

table {
  width: 90%;
  table-layout:fixed;
  text-align: center;
}
.material-icons{
  width: 15px;
  height: 15px;
}


.imagen {
max-width: 150px;
max-height: 150px;
margin: 5px;
}

.panel{

  border: 15px solid rgb(63, 81, 181);
  margin: 40px;
  width: 90%;
}

.panel2{

background-color: rgb(217, 111, 231);
width: 75%;
align-content: center;

}

mat-card-title {
color: white
}

mat-card-subtitle{
color: white;
}

label{
color: white;
}
