table {
  width: 80%;
}
.texto{
  // margin: 5px;
  width: auto;
  height: auto;
  background-color:transparent;
  text-align: center;
  font-size: 110%;
}

.contenedor{

  width: auto;
  height: auto;
  padding: 10px;
  border: 10px solid transparent;
  background-color: transparent;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  justify-content: center;
  align-items: center;
}

.elemento{
  /* color:rgba(0,0,0,.87); */
  margin: 5px;
  width: auto;
  height: auto;
  background-color:transparent;
  text-align: center;
  align-items: center;

  }
