<form>

    <table align="center" *ngIf="puntosSeleccionables;else Aviso_no_puntos" mat-table [dataSource]="puntosSeleccionables" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="letraCabecera">
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        (click) = "SeleccionarTodos();"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row; let i = index" (click) = "Seleccionar(i);">
          <mat-checkbox (click)="$event.stopPropagation()"
            (click) = "Seleccionar(i);"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Nombre Punto Column -->
      <ng-container matColumnDef="nombrePunto">
        <th mat-header-cell *matHeaderCellDef class="letraCabecera" style="width: 35%"> Nombre </th>
        <td mat-cell *matCellDef="let punto; let i = index" (click) = "Seleccionar(i);"> {{punto.Nombre}} </td>
      </ng-container>

      <!-- Descripción Punto Column -->
      <ng-container matColumnDef="descripcionPunto" >
        <th mat-header-cell *matHeaderCellDef class="letraCabecera" style="width: 55%"> Descripción </th>
        <td mat-cell *matCellDef="let punto; let i = index" (click) = "Seleccionar(i);"> {{punto.Descripcion}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>

    <div class="contenedor">
      <ng-template #Aviso_no_puntos> <div class="texto">Todavía no tienes puntos creados.</div></ng-template>
    </div>
  </form>

  <div class="btnCambiarStep">
    <button (click)="AgregarPuntosAlJuego()"type="button" style="background-color: rgb(63, 81, 181)" class="btn"  matStepperNext>Siguiente</button>
  </div>

