<h2>{{juegoSeleccionado.Tipo}}</h2>
<h3>Información del jugador</h3>
<mat-divider></mat-divider>

<div>
    <p>
      <span style="font-weight: bold;">Nombre:</span>
      {{alumnoSeleccionado[0].Nombre}} {{alumnoSeleccionado[0].PrimerApellido}} {{alumnoSeleccionado[0].SegundoApellido}}
    </p>
    <p>
        <span style="font-weight: bold;">Puntos:</span>
        {{alumnoJuegoDePuntos[0].PuntosTotalesAlumno}}
    </p>
</div>

<!-- <div class="progress">
  <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div> -->

<form width = "60%">
  <div class="progress">
    <div class="progress-bar progress-easy" [style.width]="porcentaje()*100+'%'" role="progressbar" aria-valuenow = "alumnoJuegoDePuntos[0].PuntosTotalesAlumno"
    aria-valuemin="nivel.PuntosAlcanzar" aria-valuemax="siguienteNivel.PuntosAlcanzar">{{alumnoJuegoDePuntos[0].PuntosTotalesAlumno}}</div>
  </div>
</form>


<button (click) = "prueba()">prueba</button>
