/* .progress-bar.progress-easy{
  background-color: #1bad3b;

} */
table {
  width: 90%;
  text-align: center;
}

.imagen {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
}

.contenedor{

  width: 70%;
  margin-left: 15%;
  height: auto;
  padding: 10px;
  border: 10px solid transparent;
  background-color: transparent;

}

.contenedor2{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  // justify-content: center ;
  align-items: center;
  border: solid transparent;

  flex-direction: column;
  width: 300%;

}
.contenedor3{

  display: flex;
  justify-content: left;
  border: solid transparent;

}
