table {
  width: 100%;
  table-layout:fixed;
  text-align: left;
}


.mat-row:hover {
  cursor: pointer !important;
}



// Para que al hacer click se quede la fila marcada
.highlight{
  background: rgba(63, 81, 181, 0.664);; /* green */
}
