<h2>Editar Grupo</h2>
<mat-divider></mat-divider>

<div>
  <p>
    <span>Nombre: </span>
    <input type="text" name="nombre" placeholder="Escribe la nombre" requiered [(ngModel)]="nombreGrupo">
  </p>
  <p>
      <span>Descripción: </span>
      <input type="text" name="descripcion" placeholder="Escribe la descripción" requiered [(ngModel)]="descripcionGrupo">
  </p>
</div>
<div>
  <button mat-raised-button color="primary" (click)= "goBack()">Volver</button>
  <button type="button" class="btn btn-success" (click)= "EditarGrupo()">Aceptar</button>
</div>
