<div class="titulo"><h2>Inicio</h2></div>
<mat-divider style="width: 70%; margin-left : 15%"></mat-divider>

<div class="contenedor">
<h5>Para ayudar a entender cómo funciona la aplicación y qué funcionalidades tiene,
  se han diseñado una serie de vídeos donde se muestran sus utilidades.</h5>

  <button class="btn" style="background-color: transparent; color:black" onClick="window.open('//youtu.be/aBreMzggPj4')">Grupos</button>
  <button class="btn" style="background-color: transparent;color:black" onClick="window.open('//youtu.be/d2zrLGrAzk0 ')">Juego de Puntos</button>
  <button class="btn" style="background-color: transparent;color:black" onClick="window.open('//youtu.be/ipAMFaneFp0	')">Juego de Colección</button>
  <button class="btn" style="background-color: transparent;color:black" onClick="window.open('//youtu.be/0s9TaeZDTME ')">Colecciones</button>
  <button class="btn" style="background-color: transparent;color:black" onClick="window.open('//youtu.be/FU1x8wvK83Y ')">Puntos e Insignias</button>



</div>
