<div class="titulo"><h2>Inicio</h2></div>
<mat-divider style="width: 70%; margin-left : 15%"></mat-divider>

<div class="contenedor">
<h5>Para ayudar a entender cómo funciona la aplicación y qué funcionalidades tiene,
  se han diseñado una serie de vídeos donde se muestran sus utilidades.</h5>

  <button class="btn" style="background-color: transparent; color:black" onClick="window.open('//classpip-onboarding.herokuapp.com/legalwarning')">Grupos</button>
  <button class="btn" style="background-color: transparent;color:black" onClick="window.open('//classpip-onboarding.herokuapp.com/legalwarning')">Juego de Puntos</button>
  <button class="btn" style="background-color: transparent;color:black" onClick="window.open('//classpip-onboarding.herokuapp.com/legalwarning')">Juego de Colección</button>
  <button class="btn" style="background-color: transparent;color:black" onClick="window.open('//classpip-onboarding.herokuapp.com/legalwarning')">Colecciones</button>
  <button class="btn" style="background-color: transparent;color:black" onClick="window.open('//classpip-onboarding.herokuapp.com/legalwarning')">Puntos e Insignias</button>


</div>
