

.titulo{
  width: 70%;
  margin-left: 15%;
  height: 60px;
  padding: 10px;
  color: rgb(63, 81, 181);

}


.h2, h2 {
  font-size: 2.5rem !important;
}


.panel{

  background-color: rgb(63, 81, 181);
  margin: 40px;
  width: 90%;
}
.example-container {
  overflow: auto;
}

table {
  width: 100%;
  table-layout:fixed;
  text-align: center;
}

.letraCabecera{
  color:white;
  text-align: center;
  font-weight: bold;
  font-size: 90%;
}

.mat-header-row{

  text-align: center;
  background-color:rgb(63, 81, 181);
  }

.mat-row:hover {
  background-color: rgb(204, 197, 197);
  // cursor: pointer;
}

.contenedor{

  width: 70%;
  margin-left: 15%;
  height: auto;
  padding: 10px;
  border: 10px solid transparent;
  background-color: transparent;

}

.elemento{
  /* color:rgba(0,0,0,.87); */
  // margin: 5px;
  width: auto;
  height: auto;
  background-color:transparent;
  text-align: center;
  align-items: center;

  }
  .material-icons{
    width: 15px;
    height: 15px;
  }

  .btn{
    margin: 5px;
    align-items: center;
    color: white;
    width: 170px;
  }
.btnCambiarStep{
  display: flex;
  justify-content: flex-end;
}
