.panel{

  background-color: rgb(63, 81, 181);
  margin: 40px;
  width: 90%;
}
.example-container {
  overflow: auto;
}

table {
  width: 90%;
  table-layout:fixed;
  text-align: center;
}

.contenedor{

  width: 70%;
  margin-left: 15%;
  height: auto;
  padding: 10px;
  border: 10px solid transparent;
  background-color: transparent;

}


.elemento{
  /* color:rgba(0,0,0,.87); */
  // margin: 5px;
  width: auto;
  height: auto;
  background-color:transparent;
  text-align: center;
  align-items: center;

  }
  .material-icons{
    width: 15px;
    height: 15px;
  }



.imagen {
  max-width: 150px;
  max-height: 150px;
  margin: 5px;
}

// Crear nivel
.panel2{

  background-color: rgb(167, 63, 181);
  width: 75%;
  align-content: center;

}

mat-card-title {
  color: white
}

mat-card-subtitle{
  color: white;
}

label{
  color: white;
}
