
table {
  width: 80%;
  text-align: center;
  align-content: center;
  table-layout:fixed;
}

.filter {
  width: 60%;
  font-size: 14px;
  margin-left: 20%;
}

.material-icons{
  width: 15px;
  height: 15px;
}

