<div class="titulo"><h2>Editar Colección</h2></div>
<mat-divider style="width: 70%; margin-left : 15%"></mat-divider>


<div class="contenedor contenedor3">
  <div class="contenedor2" style=" text-align: left;">
    <p>
      <span style="font-weight: bold;">Nombre: </span>
      <input style="background-color: transparent" type="text" name="nombre" placeholder="Escribe el nombre" requiered [(ngModel)]="nombreColeccion">
    </p>
    <div class="elemento">
        <button type="button" style="background-color: rgb(65, 178, 212)" class="btn" (click) = AbrirDialogoAgregarCromoColeccion()>
          Agregar Cromo <i class="material-icons">library_add</i>
        </button>
      </div>
  </div>

  <div>
  <div class="elemento">
    <button (click) = "ActivarInput()" type="button" style="background-color: rgb(51, 122, 183)" class="btn">
      Agregar Imagen<i class="material-icons">add_photo_alternate</i>
    </button>
  </div>

  <div class="elemento">
      <input #file id = "input" type="file" accept= 'image/*' (change)="Mostrar($event)" style="display:none">
      <img class ="logo" *ngIf="imagenColeccion" hight = "200" width = "200" mat-card-image [src]="imagenColeccion" >
    </div>
</div>
  <div>

    <div class="elemento">
        <button type="button"  style="background-color: rgb(92, 184, 92)" class="btn"  (click)= "EditarColeccion()">Aceptar Cambios <i class="material-icons">
          check </i></button>
  </div>

</div>
</div>
<!--
<div class="contenedor">
  <div class="elemento">
      <button (click) = "ActivarInput()" type="button" style="background-color: rgb(51, 122, 183)" class="btn">
        Agregar imagen<i class="material-icons">add_photo_alternate</i>
      </button>
    </div>
<div class="elemento"><button type="button" style="background-color: rgb(65, 178, 212)" class="btn" (click) = AbrirDialogoAgregarCromoColeccion()>
  Agregar cromo <i class="material-icons">library_add</i>
  </button> </div>
</div> -->

<mat-grid-list cols="3" rowHeight="100px" style="width: 70%; margin-left : 15%" >
  <mat-grid-tile
      *ngFor="let cromo of cromosColeccion; let i = index"
      [colspan]="1"
      [rowspan]="4"
      [style.background]="white">
      <mat-card class="cromo" [ngClass]="{
        'Diamante' : cromo.Nivel === 'Diamante',
        'Platino' : cromo.Nivel === 'Platino',
        'Oro' : cromo.Nivel === 'Oro',
        'Plata' : cromo.Nivel === 'Plata',
        'Bronce' : cromo.Nivel === 'Bronce'}">
        <mat-card-header>
          <div style="display: flex; justify-content:space-between; width: 250px ">
          <div  >
          <mat-card-title>{{cromo.Nombre}}</mat-card-title>
          <mat-card-subtitle><p style="margin-bottom: -2px;">Nivel: {{cromo.Nivel}} </p><p style="margin-bottom: -2px;">Probabilidad: {{cromo.Probabilidad}} </p></mat-card-subtitle>
        </div>
          <div class="elementoCromo">
          <button type="button" style="background-color: rgb(65, 178, 212); width: 50px !important;" class="btn" routerLink= "editarCromo" (click) = "EnviarCromoEditar(cromo)"> <i style="margin-top: 3px; margin-right: 8px;" class="material-icons">
            edit </i>  </button>
            <button type="button" style="background-color: rgb(212, 57, 52); width: 50px !important;" class="btn" (click) = "AbrirDialogoConfirmacionBorrarCromo(cromo)"> <i style="margin-top: 3px; margin-right: 8px;" class="material-icons">
                delete
                </i></button>
          </div>
        </div>
        </mat-card-header>
        <mat-card-content style="display: flex; align-items: center;justify-content: center;">
        <div class="posicionImagen" >
        <img class ="imagenCromo" *ngIf="imagenCromoArray[i]" mat-card-image [src]="imagenCromoArray[i]" >
      </div>
    </mat-card-content>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>

