<div class="titulo"><h2>Editar Colección</h2></div>
<mat-divider style="width: 70%; margin-left : 15%"></mat-divider>


<div class="contenedor contenedor3">
  <div class="contenedor2" style=" text-align: left;">
    <p>
      <span style="font-weight: bold;">Nombre: </span>
      <input style="background-color: transparent" type="text" name="nombre" placeholder="Escribe el nombre" requiered [(ngModel)]="nombreColeccion">
    </p>
    <div class="elemento">
        <input #file id = "input" type="file" accept= 'image/*' (change)="Mostrar($event)" style="display:none">
        <img class ="logo" *ngIf="imagenColeccion" hight = "130" width = "130" mat-card-image [src]="imagenColeccion" >
      </div>
  </div>

  <div>

    <div class="elemento">
        <button type="button"  style="background-color: rgb(92, 184, 92)" class="btn"  (click)= "EditarColeccion()">Aceptar Cambios <i class="material-icons">
          check </i></button>
  </div>

</div>
</div>

<div class="contenedor">
  <div class="elemento">
      <button (click) = "ActivarInput()" type="button" style="background-color: rgb(51, 122, 183)" class="btn">
        Agregar imagen<i class="material-icons">add_photo_alternate</i>
      </button>
    </div>
<div class="elemento"><button type="button" style="background-color: rgb(65, 178, 212)" class="btn" (click) = AbrirDialogoAgregarAlumnosEquipo()>
  Agregar cromo <i class="material-icons">library_add</i>
  </button> </div>
</div>
<div class="contenedor">
    <form>

        <mat-card class="example-card" *ngFor="let cromo of cromosColeccion">
          <mat-card-header>

            <mat-card-title>{{cromo.Nombre}}</mat-card-title>
            <mat-card-subtitle><p style="margin-bottom: -2px;">Nivel: {{cromo.Nivel}} </p><p style="margin-bottom: -2px;">Probabilidad: {{cromo.Probabilidad}} </p></mat-card-subtitle>

          </mat-card-header>
          <img align="center" class ="imagenCromo" *ngIf="imagenColeccion" mat-card-image [src]="imagenColeccion" >
          <mat-card-actions>
              <button type="button" style="background-color: rgb(65, 178, 212);" class="btn" routerLink= "editarColeccion" (click) = "EnviarColeccionEditar(coleccion, cromosColeccion)"> Editar cromo<i class="material-icons">
                edit </i>  </button>
                <button type="button" style="background-color: rgb(212, 57, 52);" class="btn" (click) = "AbrirDialogoConfirmacionBorrarColeccion(coleccion)"> Eliminar cromo<i class="material-icons">
                    delete
                    </i></button>
          </mat-card-actions>
        </mat-card>
      </form>

</div>
