input[type=text] {
  border: none;
  border-bottom: 1px solid rgb(63, 81, 181);
}

table {
  width: 60%;
  text-align: center;
}
.contenedor{

  width: 70%;
  margin-left: 15%;
  height: auto;
  padding: 10px;
  border: 10px solid transparent;
  background-color: transparent;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  justify-content: center;
  align-items: center;
}
.contenedor2{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  border: solid transparent;
  flex-direction: column;
}
.contenedor3{
  justify-content: space-between;
  border: solid transparent;

  align-items: flex-start;

}
.elemento{
/* color:rgba(0,0,0,.87); */
width: auto;
height: auto;
background-color:transparent;
text-align: center;
align-items: center;

border: solid transparent;

}
.material-icons{
  width: 15px;
  height: 15px;
}
.texto{
  // margin: 5px;
  width: auto;
  height: auto;
  background-color:transparent;
  text-align: center;
  font-size: 110%;
}

.logo {
  max-width: 130px;
  max-height: 130px;
  margin: 5px;
}
.imagenCromo {
  max-width: 300px;
  max-height: 300px;
  margin: 5px;
}

.example-card {
  max-width: 350px;
}
