.contenedor{
  width: auto;
  height: auto;
  padding: 10px;
  border: 10px solid transparent;
  background-color: transparent;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  justify-content: center;
  align-items: center;
  /* align-content:   */
  /*flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;*/

}
.contenedor2{

  flex-direction: column;

}
.elemento{
/* color:rgba(0,0,0,.87); */
margin: 5px;
width: auto;
height: auto;
background-color:transparent;
text-align: center;

}

.button1{
  color:white;
  background-color: rgb(97, 10, 203);
  border: 5px solid transparent;;
}
