<h2>Crear Grupo</h2>
<mat-divider></mat-divider>

<form [formGroup]="myForm" class="contenedor">

    <mat-card class="panel">

        <mat-card-content>
            <mat-horizontal-stepper #linearHorizontalStepper="matHorizontalStepper" [linear]="true" style="width:100%">

                <!-- PRIMER PASO -->
                <mat-step [stepControl]="myForm">
                  <ng-template matStepLabel>Descripción</ng-template>
                  <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input (keyup)="disabled()" matInput formControlName="nombreGrupo" required>
                  </mat-form-field>

                  <div>
                    <mat-form-field>
                      <mat-label>Descripción</mat-label>
                        <input (keyup)="disabled()" matInput formControlName="descripcionGrupo" required>
                    </mat-form-field>
                  </div>

                  <div>
                    <button [disabled]="isDisabled" *ngIf="grupoYaCreado === false" mat-raised-button color="primary" (click)= CrearGrupo() matStepperNext>Siguiente</button>
                    <button [disabled]="isDisabled" *ngIf="grupoYaCreado === true" mat-raised-button color="primary" (click)= EditarGrupo() matStepperNext>Siguiente</button>
                  </div>

                </mat-step>

                <!-- SEGUNDO PASO -->
                <mat-step optional>
                  <ng-template matStepLabel>
                    <div>Añadir alumnos</div>
                  </ng-template>
                  <div class="contenedor contenedor2">
                  <div>
                    <button mat-raised-button style="margin: 5px;"  color="green" (click)= "AbrirDialogoAgregarAlumnos()"><i class="material-icons">
                        person_add
                        </i></button>

                  </div>
                  <div>
                    <button  mat-raised-button style="margin: 5px;" color="white" matStepperPrevious>
                      <i class="material-icons">
                        arrow_back
                      </i></button>
                    <button  mat-raised-button style="margin: 5px;"  color="primary" matStepperNext>
                      <i class="material-icons">
                        arrow_forward
                      </i>
                    </button>
                  </div>
                </div>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Finalizar</ng-template>
                  <div align="right" style="margin: 5px;">Grupo creado correctamente.</div>
                  <div align="right">
                    <button mat-raised-button style="margin: 5px;" color="white" matStepperPrevious> <i class="material-icons">
                        arrow_back
                      </i></button>
                    <button mat-raised-button style="margin: 5px;"  color="primary" (click) = "VueltaInicio();"><i class="material-icons">
                        check
                        </i></button>
                  </div>
                </mat-step>
              </mat-horizontal-stepper>

        </mat-card-content>
      </mat-card>


</form>


