<div class="titulo"><h2>Crear Grupo</h2></div>
<mat-divider style="width: 70%; margin-left : 15%"></mat-divider>

<form [formGroup]="myForm" class="contenedor">

    <mat-card class="panel">

        <mat-card-content>
            <mat-horizontal-stepper #linearHorizontalStepper="matHorizontalStepper" [linear]="true" style="width:100%">

                <!-- PRIMER PASO -->
                <mat-step [stepControl]="myForm">
                  <ng-template matStepLabel>Descripción</ng-template>
                  <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input (keyup)="disabled()" matInput formControlName="nombreGrupo" required>
                  </mat-form-field>

                  <div>
                    <mat-form-field>
                      <mat-label>Descripción</mat-label>
                        <input (keyup)="disabled()" matInput formControlName="descripcionGrupo" required>
                    </mat-form-field>
                  </div>

                  <div class="btnCambiarStep">
                    <button [disabled]="isDisabled" *ngIf="grupoYaCreado === false" mat-raised-button style="background-color: rgb(63, 81, 181)" class="btn"  (click)= CrearGrupo() matStepperNext>Siguiente</button>
                    <button [disabled]="isDisabled" *ngIf="grupoYaCreado === true" mat-raised-button style="background-color: rgb(63, 81, 181)" class="btn"  (click)= EditarGrupo() matStepperNext>Siguiente</button>
                  </div>

                </mat-step>

                <!-- SEGUNDO PASO -->
                <mat-step optional>
                  <ng-template matStepLabel>
                    <div>Añadir alumnos</div>
                  </ng-template>
                  <div>
                  <div>
                    <button mat-raised-button style="background-color: rgb(63, 81, 181)" class="btn" (click)= "AbrirDialogoAgregarAlumnos()">Agregar alumno</button>

                  </div>
                  <div class="btnCambiarStep">
                    <button  mat-raised-button style="background-color: rgb(240, 173, 78)" class="btn"  matStepperPrevious>
                       Atrás</button>
                    <button  mat-raised-button style="background-color: rgb(63, 81, 181)" class="btn" matStepperNext>
                       Siguiente
                    </button>
                  </div>
                </div>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Finalizar</ng-template>
                  <div style="margin: 5px;">
                    <p>Grupo creado correctamente.</p>
                    <p> Haga click en "Finalizar" para guardar los cambios.</p>
                  </div>
                  <div class="btnCambiarStep">
                    <button mat-raised-button style="background-color: rgb(240, 173, 78)"  class="btn"  matStepperPrevious> Atrás</button>
                    <button mat-raised-button  style="background-color: rgb(92, 184, 92)"   class="btn" (click) = "VueltaInicio();"> Finalizar</button>
                  </div>
                </mat-step>
              </mat-horizontal-stepper>

        </mat-card-content>
      </mat-card>


</form>


