<!-- ////////////////////////////////////////////// PARA PUNTOS //////////////////////////////////////////////// -->

<form>

  <table *ngIf="puntosProfesor;else Aviso_no_puntos" mat-table [dataSource]="puntosProfesor" class="mat-elevation-z8">

    <!-- Nombre Punto Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let punto; let i = index" (click) = "Seleccionar(i);"> {{punto.Nombre}} </td>
    </ng-container>

    <!-- Descripción Punto Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let punto; let i = index" (click) = "Seleccionar(i);"> {{punto.Descripcion}} </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef=" ">
      <th mat-header-cell *matHeaderCellDef style='text-align: center;'></th>
      <td mat-cell *matCellDef="let punto">
        <button (click) = "BorrarPunto(punto)" mat-icon-button matTooltip="Borrar el punto {{punto.Nombre}}">
          <i class="material-icons red md-36">delete</i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <div>
    <ng-template #Aviso_no_puntos>Todavía no tienes puntos creados</ng-template>
  </div>
</form>

<div>
hols</div>

<!-- ////////////////////////////////////////////// PARA INSIGNIAS //////////////////////////////////////////////// -->
<form>

  <table *ngIf="insigniasProfesor;else Aviso_no_insignia" mat-table [dataSource]="insigniasProfesor" class="mat-elevation-z8">

    <!-- Nombre Insignias Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let insignias; let i = index" (click) = "Seleccionar(i);"> {{insignias.Nombre}} </td>
    </ng-container>

    <!-- Descripción Insignias Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let insignias; let i = index" (click) = "Seleccionar(i);"> {{insignias.Descripcion}} </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef=" ">
      <th mat-header-cell *matHeaderCellDef style='text-align: center;'></th>
      <td mat-cell *matCellDef="let insignia">
        <button (click) = "BorrarInsignia(insignia)" mat-icon-button matTooltip="Borrar la insignia {{insignia.Nombre}}">
          <i class="material-icons red md-36">delete</i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <div>
    <ng-template #Aviso_no_puntos>Todavía no tienes insignias creadas</ng-template>
  </div>
</form>

