<div class="titulo"><h2>Asignar Puntos</h2></div>
<mat-divider class="lineaDivisoria"></mat-divider>


<mat-tab-group [color]="primary" [backgroundColor]="primary" #tabs style="margin-top: 10px" style="width: 60%">


  <!-- ASIGNAR EL CROMO QUE EL PROFESOR ESCOJA-->
  <mat-tab index = "0" label="Asignar Cromo Manualmente">
    <div class="contenedor">
      <h5>Seleccione el cromo que desee asignar:</h5>
      <div class="contenedor2">
        <div>
        <mat-form-field>
          <mat-label>Cromo</mat-label>
          <select matNativeControl (change) = "Disabled()" [(ngModel)]="cromoSeleccionadoId" name="cromo">
            <option *ngFor="let cromo of cromosColeccion" [value]="cromo.id">
              {{cromo.Nombre}}
            </option>
          </select>
        </mat-form-field>
        </div>
      </div>

      <div style="margin-top: 10px">
      <button type="button" style="background-color: rgb(92, 184, 92)" class="btn "[disabled]="isDisabled" (click) = AsignarCromo()>Asignar Cromo</button>
      </div>
    </div>


  </mat-tab>



  <!-- REPARTIR PAQUETES DE CROMOS ALEATORIOS -->
  <mat-tab label="Asignar Cromo Aleatorio">



  </mat-tab>
</mat-tab-group>


<form>
  <table align="center" *ngIf="alumnosDelJuego" mat-table [dataSource]="datasourceAlumno" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="letraCabecera">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      (click) = "SeleccionarTodos();"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row; let i = index" (click) = "Seleccionar(i);">
        <mat-checkbox (click)="$event.stopPropagation()"
          (click) = "Seleccionar(i);"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)">
        </mat-checkbox>

      </td>
    </ng-container>


    <!-- Nombre Alumno Column -->
    <ng-container matColumnDef="nombreAlumno">
      <th mat-header-cell *matHeaderCellDef class="letraCabecera"> Nombre </th>
      <td mat-cell *matCellDef="let alumno; let i = index" (click) = "Seleccionar(i);"> {{alumno.Nombre}} </td>
    </ng-container>

    <!-- Primer Apellido Column -->
    <ng-container matColumnDef="primerApellido">
      <th mat-header-cell *matHeaderCellDef class="letraCabecera"> Primer Apellido </th>
      <td mat-cell *matCellDef="let alumno; let i = index" (click) = "Seleccionar(i);"> {{alumno.PrimerApellido}} </td>
    </ng-container>

    <!-- Segundo Apellido Column -->
    <ng-container matColumnDef="segundoApellido">
      <th mat-header-cell *matHeaderCellDef class="letraCabecera"> Segundo Apellido </th>
      <td mat-cell *matCellDef="let alumno; let i = index" (click) = "Seleccionar(i);"> {{alumno.SegundoApellido}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumnsAlumno"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsAlumno;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
</form>

<button (click) = "prueba()">Prueba raandom</button>


