<div class="titulo"><h2>Asignar Cromos</h2></div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div class="contenedor">
<mat-tab-group [color]="primary" [backgroundColor]="primary" #tabs style="margin-top: 10px">


  <!-- ASIGNAR EL CROMO QUE EL PROFESOR ESCOJA-->
  <mat-tab index = "0" label="Asignar Cromo Manualmente">

      <h5 style="margin-top: 10px">Seleccione el cromo que desee asignar:</h5>
      <div class="contenedor2">
        <div>
        <mat-form-field>
          <mat-label>Cromo</mat-label>
          <select matNativeControl (change) = "Disabled()" [(ngModel)]="cromoSeleccionadoId" name="cromo">
            <option *ngFor="let cromo of cromosColeccion" [value]="cromo.id">
              {{cromo.Nombre}}
            </option>
          </select>
        </mat-form-field>


      </div>

      <div *ngIf="cromoSeleccionado">
        <mat-card class="cromo" [ngClass]="{
          'Diamante' : cromoSeleccionado.Nivel === 'Diamante',
          'Platino' : cromoSeleccionado.Nivel === 'Platino',
          'Oro' : cromoSeleccionado.Nivel === 'Oro',
          'Plata' : cromoSeleccionado.Nivel === 'Plata',
          'Bronce' : cromoSeleccionado.Nivel === 'Bronce'}">
          <mat-card-header>
            <div style="display: flex; justify-content:space-between; width: 250px ">
            <div  >
            <mat-card-title>{{cromoSeleccionado.Nombre}}</mat-card-title>
            <mat-card-subtitle><p style="margin-bottom: -2px;">Nivel: {{cromoSeleccionado.Nivel}} </p><p style="margin-bottom: -2px;">Probabilidad: {{cromoSeleccionado.Probabilidad}} </p></mat-card-subtitle>
          </div>
          </div>
          </mat-card-header>
          <mat-card-content style="display: flex; align-items: center;justify-content: center;">
          <div class="posicionImagen" >
          <img class ="imagenCromo" *ngIf="imagenCromoSeleccionado" mat-card-image [src]="imagenCromoSeleccionado" >
        </div>
      </mat-card-content>
        </mat-card>
      </div>
        <div style="margin-top: 10px">
          <button type="button" class="btn Aceptar" [disabled]="isDisabled" (click) = AbrirDialogoConfirmacionAsignarCromo()>Asignar Cromo</button>
          </div>
      </div>


  </mat-tab>



  <!-- REPARTIR PAQUETES DE CROMOS ALEATORIOS -->
  <mat-tab label="Asignar Cromo Aleatorio">

    <h5 style="margin-top: 10px">Seleccione el número de cromos aleatorios que desee asignar:</h5>
    <div class="contenedor2">
    <div style="margin-top: 15px">
      <span>Número de cromos: </span>
      <input type="number" name="numeroCromosRandom" placeholder="Escribe el número de cromos" requiered [(ngModel)]="numeroCromosRandom">
    </div>

    <div style="margin-top: 10px">
      <button type="button" class="btn Aceptar" [disabled]="isDisabled" (click) = AbrirDialogoConfirmacionAsignarCromosAleatorios()>Asignar Cromo</button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>


<form *ngIf="alumnosDelJuego">

  <div class = "filter">
    <mat-form-field style=" width: 95% !important;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro para buscar alumno...">
        <i class="material-icons" matSuffix>search</i>
      </mat-form-field>
  </div>

  <table align="center" *ngIf="alumnosDelJuego" mat-table [dataSource]="datasourceAlumno" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="letraCabecera">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      (click) = "SeleccionarTodos();"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row; let i = index" (click) = "Seleccionar(i);">
        <mat-checkbox (click)="$event.stopPropagation()"
          (click) = "Seleccionar(i);"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)">
        </mat-checkbox>

      </td>
    </ng-container>


    <!-- Nombre Alumno Column -->
    <ng-container matColumnDef="nombreAlumno">
      <th mat-header-cell *matHeaderCellDef class="letraCabecera"> Nombre </th>
      <td mat-cell *matCellDef="let alumno; let i = index" (click) = "Seleccionar(i);"> {{alumno.Nombre}} </td>
    </ng-container>

    <!-- Primer Apellido Column -->
    <ng-container matColumnDef="primerApellido">
      <th mat-header-cell *matHeaderCellDef class="letraCabecera"> Primer Apellido </th>
      <td mat-cell *matCellDef="let alumno; let i = index" (click) = "Seleccionar(i);"> {{alumno.PrimerApellido}} </td>
    </ng-container>

    <!-- Segundo Apellido Column -->
    <ng-container matColumnDef="segundoApellido">
      <th mat-header-cell *matHeaderCellDef class="letraCabecera"> Segundo Apellido </th>
      <td mat-cell *matCellDef="let alumno; let i = index" (click) = "Seleccionar(i);"> {{alumno.SegundoApellido}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumnsAlumno"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsAlumno;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
</form>

<!-- /////////////////////////////////////////// TABLA PARA ASIGNAR CROMOS EQUIPOS //////////////////////////////////////////////////// -->
<form *ngIf="equiposDelJuego" >
  <div class = "filter">
    <mat-form-field  style=" width: 95% !important;">
        <input matInput (keyup)="applyFilterEquipo($event.target.value)" placeholder="Filtro para buscar equipo...">
        <i class="material-icons" matSuffix>search</i>
      </mat-form-field>
  </div>

  <table align="center" mat-table [dataSource]="datasourceEquipo" class="example-container mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="letraCabecera">
          <mat-checkbox (change)="$event ? masterToggleEquipos() : null"
                        (click) = "SeleccionarTodosEquipos();"
                        [checked]="selectionEquipos.hasValue() && isAllSelectedEquipos()"
                        [indeterminate]="selectionEquipos.hasValue() && !isAllSelectedEquipos()"
                        [aria-label]="checkboxLabelEquipo()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row; let i = index" (click) = "SeleccionarEquipo(i);">
          <mat-checkbox (click)="$event.stopPropagation()"
            (click) = "SeleccionarEquipo(i);"
            (change)="$event ? selectionEquipos.toggle(row) : null"
            [checked]="selectionEquipos.isSelected(row)"
            [aria-label]="checkboxLabelEquipo(row)">
          </mat-checkbox>

        </td>
      </ng-container>

    <!-- Nombre Alumno Column -->
    <ng-container matColumnDef="nombreEquipo">
      <th mat-header-cell *matHeaderCellDef class="letraCabecera"> Nombre </th>
      <td mat-cell *matCellDef="let equipo"> {{equipo.Nombre}} </td>
    </ng-container>


    <!-- Miembros Column -->
    <ng-container matColumnDef="miembros">
      <th mat-header-cell *matHeaderCellDef class="letraCabecera" style="width: 18%"> Miembros </th>
      <td mat-cell *matCellDef="let equipo"><button mat-icon-button matTooltip="Ver miembros de {{equipo.nombre}}" color="primary"
        [mdePopoverTriggerFor]="appPopover" (click) = "AlumnosDelEquipo(equipo)"
        mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
        <i class="material-icons">group</i>
      </button>

      <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
          <mat-card style="max-width: 300px">
            <mat-card-content>
              <mat-list>
                <mat-list-item *ngFor="let alumno of alumnosEquipo">
                  <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
                  <p class="md-body-1" mat-line>{{alumno.Nombre}} {{alumno.PrimerApellido}} {{alumno.SegundoApellido}}</p>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
      </mde-popover>
    </td>
    </ng-container>


        <!-- More Column -->
    <ng-container matColumnDef=" ">
      <th mat-header-cell *matHeaderCellDef class="letraCabecera" style="width: 15%"></th>
      <td mat-cell *matCellDef="let equipo">
          <button (click) = "AccederEquipo(equipo)" routerLink = "informacionEquipoJuegoColeccion" mat-icon-button matTooltip="Ver progreso de {{equipo.nombre}} en el juego">
              <i class="material-icons">more_horiz</i>
          </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsEquipos; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsEquipos;"></tr>

  </table>
</form>
</div>


