table {
  width: 60%;
  text-align: center;
}

input[type=number] {
  border: none;
  border-bottom: 1px solid rgb(63, 81, 181);
}
.contenedor{

  width: 70%;
  margin-left: 15%;
  height: auto;
  padding: 10px;
  border: 10px solid transparent;
  background-color: transparent;

}

.contenedor2{

  border: 10px solid transparent;

  display: flex;
  justify-content: space-between;

}

.filter {
  font-size: 14px;
  margin-left: 5%;
}
