<div class="titulo"><h2>Mis Grupos</h2></div>
<mat-divider></mat-divider>

<div class="contenedor contenedor2">
    <div class="texto">
        <p>
          <span style="font-weight: bold;">Nombre:</span>
          {{grupoSeleccionado.Nombre}}
        </p>
    </div>
    <div class="texto">
        <p>
            <span style="font-weight: bold;">Descripción:</span>
            {{grupoSeleccionado.Descripcion}}
        </p>
    </div>
</div>

<div class="contenedor">
  <div class="elemento elemento1"><button type="button" class="btn " (click) = EntrarEditarGrupo(); routerLink= "editarGrupo">Editar Grupo</button></div>
      <div class="elemento elemento2"><button type="button" class="btn ">Pasar Lista</button>
      </div>
          <div class="elemento elemento3"> <button type="button" class="btn" (click) = EntrarEquipos(); routerLink= "equiposGrupo">Equipos</button>
          </div>
          <div class="elemento elemento4"> <button type="button" class="btn "(click) = EntrarJuegos(); routerLink = "juegos">Juegos</button>
          </div>
          <div class="elemento elemento5"> <button type="button" class="btn" (click)="AbrirDialogoConfirmacionBorrar()">Eliminar Grupo</button>
          </div>
</div>

<form>

    <table align = "center" text *ngIf="alumnosGrupoSeleccionado;else Aviso_no_alumnos" mat-table [dataSource]="alumnosGrupoSeleccionado" class="example-container mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Nombre Alumno Column -->
      <ng-container matColumnDef="nombreAlumno">
        <th mat-header-cell *matHeaderCellDef style='color:black; text-align: center;'> Nombre </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.Nombre}} </td>
      </ng-container>

      <!-- Primer Apellido Column -->
      <ng-container matColumnDef="primerApellido">
        <th mat-header-cell *matHeaderCellDef style='color:black; text-align: center;'> Primer Apellido </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.PrimerApellido}} </td>
      </ng-container>

      <!-- Segundo Apellido Column -->
      <ng-container matColumnDef="segundoApellido">
        <th mat-header-cell *matHeaderCellDef style='color:black; text-align: center;'> Segundo Apellido </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.SegundoApellido}} </td>
      </ng-container>

      <!-- alumnoId Column -->
      <ng-container matColumnDef="alumnoId">
        <th mat-header-cell *matHeaderCellDef style='color:black; text-align: center;'> Identificador Alumno </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.id}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
    <div class="contenedor">
      <ng-template  #Aviso_no_alumnos><div class="texto">Todavía no hay alumnos en este grupo.  </div></ng-template>
    </div>


  </form>
