
.contenedor{

  width: 70%;
  margin-left: 15%;
  height: auto;
  padding: 10px;
  border: 10px solid transparent;
  background-color: transparent;

}
.contenedor2{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  border: solid transparent;
  flex-direction: column;
}
.contenedor3{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  border: solid transparent;

 justify-content: space-between;

}

.elemento{
/* color:rgba(0,0,0,.87); */
width: auto;
height: auto;
background-color:transparent;
text-align: center;
align-items: center;

border: solid transparent;

}
.elementoCromo{
  display: flex;
  width: auto;
  height: auto;

  align-items: right;
  flex-direction: column;

  border: solid transparent;

  }
.material-icons{
  width: 15px;
  height: 15px;
}
.texto{
  // margin: 5px;
  width: auto;
  height: auto;
  background-color:transparent;
  text-align: center;
  font-size: 110%;
}


.logo {
  max-width: 200px;
  max-height: 200px;
  margin: 5px;
}

.posicionImagen{

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  max-height: 250px;
  border: solid transparent;
}

.imagen {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
}
