.titulo{
  width: 70%;
  margin-left: 15%;
  height: 60px;
  padding: 10px;
  color: rgb(63, 81, 181);

}

.h2, h2 {
  font-size: 2.5rem !important;
}
.contenedor{

  width: 70%;
  margin-left: 15%;
  height: auto;
  padding: 10px;
  border: 10px solid transparent;
  background-color: transparent;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  justify-content: center;
  align-items: center;
}
.contenedor2{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 100%;
  border: solid transparent;
  flex-direction: column;
}
.contenedor3{
  justify-content: space-between;
  border: solid transparent;

  align-items: flex-start;

}
.agregarImagen{

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: flex-start;

  flex-direction: column;
}
.elemento{
/* color:rgba(0,0,0,.87); */
width: auto;
height: auto;
background-color:transparent;
text-align: end;

border: solid transparent;

}
.material-icons{
  width: 15px;
  height: 15px;
}

.btn{
  margin: 5px;
  align-items: center;
  color: white;
  width: 170px;
}

.texto{
  // margin: 5px;
  width: auto;
  height: auto;
  background-color:transparent;
  text-align: center;
  font-size: 110%;
}


.panel{

  // background-color: rgb(63, 81, 181);

  border: 15px solid rgb(63, 81, 181);
  margin: 40px;
  width: 90%;

}
.logo {
  margin: 5px;
  width: 130px;
  height: 130px;
  max-width: 130px;
  max-height: 130px;
}
