.contenedor{

  width: 70%;
  margin-left: 15%;
  height: auto;
  padding: 10px;
  border: 10px solid transparent;
  background-color: transparent;

}

.contenedor2{

  border: 10px solid transparent;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  justify-content: space-between;
  // align-items: center;
}
.contenedor3{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  justify-content: left ;
  flex-direction: column;
  // align-items: flex-start;
  border: solid transparent;

}
.elemento{
  /* color:rgba(0,0,0,.87); */
  // margin: 5px;
  width: auto;
  height: auto;
  background-color:transparent;
  text-align: center;
  align-items: center;

  }
  .material-icons{
    width: 15px;
    height: 15px;
  }
  .logo {
    width: 130px;
    height: 130px;
    max-width: 130px;
    max-height: 130px;
  }
