<div class="titulo"><h2>{{juegoSeleccionado.Tipo}}</h2></div>
<div class="subtitulo"><h3>{{juegoSeleccionado.Modo}}</h3></div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div class="contenedor" *ngIf= "juegoSeleccionado.Tipo === 'Juego De Puntos'">
  <app-juego-de-puntos-seleccionado-inactivo></app-juego-de-puntos-seleccionado-inactivo>
</div>

<div class="contenedor" *ngIf= "juegoSeleccionado.Tipo === 'Juego De Colección'">
  <app-juego-de-coleccion-seleccionado-inactivo></app-juego-de-coleccion-seleccionado-inactivo>
</div>
