
<div class="contenedor">
  <div class="elemento">
    <button type="button"  style="background-color: rgb(240, 173, 78)" class="btn" (click) = Informacion(); routerLink = "informacionJuegoColeccion">Información<i class="material-icons">info</i></button>
  </div>
  <div class="elemento">
    <button type="button" style="background-color: rgb(65, 178, 212)" class="btn" (click) = AsignarCromos(); routerLink = "asignarCromos">Asignar Puntos<i class="material-icons">add</i></button>
  </div>
  <div class="elemento">
    <button type="button" style="background-color: rgb(212, 57, 52)" class="btn"(click) = "AbrirDialogoConfirmacionDesactivar()"> Desactivar<i class="material-icons">history</i></button>
  </div>
</div>

<form *ngIf="inscripcionesAlumnos[0]">

  <div class = "filter">
    <mat-form-field style=" width: 95% !important;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro para buscar alumno...">
        <i class="material-icons" matSuffix>search</i>
      </mat-form-field>
  </div>

  <table align="center" mat-table [dataSource]="tablaAlumno" class="example-container mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Nombre Alumno Column -->
    <ng-container matColumnDef="nombreAlumno">
      <th mat-header-cell *matHeaderCellDef class="letraCabecera" style="width: 15%"> Nombre </th>
      <td mat-cell *matCellDef="let alumno"> {{alumno.nombre}} </td>
    </ng-container>

    <!-- Primer Apellido Column -->
    <ng-container matColumnDef="primerApellido">
      <th mat-header-cell *matHeaderCellDef class="letraCabecera" style="width: 15%"> Primer Apellido </th>
      <td mat-cell *matCellDef="let alumno"> {{alumno.primerApellido}} </td>
    </ng-container>

    <!-- Segundo Apellido Column -->
    <ng-container matColumnDef="segundoApellido">
      <th mat-header-cell *matHeaderCellDef class="letraCabecera" style="width: 15%"> Segundo Apellido </th>
      <td mat-cell *matCellDef="let alumno"> {{alumno.segundoApellido}} </td>
    </ng-container>

    <!-- Cromos Column -->
    <ng-container matColumnDef="cromos">
      <th mat-header-cell *matHeaderCellDef class="letraCabecera" style="width: 15%"> Cromos </th>
      <td mat-cell *matCellDef="let alumno"> {{alumno.count}} </td>
    </ng-container>

    <!-- More Column -->
    <ng-container matColumnDef=" ">
      <th mat-header-cell *matHeaderCellDef class="letraCabecera" style="width: 10%"></th>
      <td mat-cell *matCellDef="let alumno">
          <button (click) = "AccederAlumno(alumno)" routerLink = "informacionAlumnoJuego" mat-icon-button matTooltip="Ver progreso de {{alumno.nombre}} en el juego">
              <i class="material-icons">more_horiz</i>
          </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsAlumnos; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsAlumnos;"></tr>

  </table>
</form>

<button (click) = "prueba()">prueba</button>

