
table {
  width: 120%;
  text-align: center;
  align-content: center;
}

.mat-row:hover {
  background-color: rgb(204, 197, 197);
  cursor: pointer;
}

.mat-header-row{

  text-align: center;
  background-color:rgb(63, 81, 181);
  }

.centrado{
  width: auto;
  height: auto;
  padding: 10px;
  border: 10px solid red;
  background-color: transparent;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  // flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centrado2{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  border: 5px solid blue;
  justify-content: center;
  align-items: center;
}

.btn{
  background-color: rgb(233, 30, 99);
  color: white;
}
.texto{
  // margin: 5px;
  width: auto;
  height: auto;
  background-color:transparent;
  text-align: center;
}
