<h1 mat-dialog-title>Agregar alumno</h1>
<mat-divider></mat-divider>

<mat-dialog-content class="centrado">

    <div class=" centrado centrado2">


      <form (ngSubmit)="BuscarAlumnoBaseDeDatos();" [formGroup]="myForm">
        <p>Introduce todos los campos</p>

          <div class="centrado2">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
              <input matInput placeholder="Nombre" formControlName="nombreAlumno" required>
            <mat-error>Este campo es obligatorio</mat-error>
          </mat-form-field>
          </div>

          <div class="centrado2">
            <mat-form-field>
              <mat-label>Primer Apellido</mat-label>
                <input matInput placeholder="Primer Apellido" formControlName="primerApellido" required>
              <mat-error>Este campo es obligatorio</mat-error>
            </mat-form-field>
          </div>

          <div class="centrado2">
            <mat-form-field>
              <mat-label>Segundo Apellido</mat-label>
                <input matInput placeholder="Segundo Apellido" formControlName="segundoApellido" required>
              <mat-error>Este campo es obligatorio</mat-error>

            </mat-form-field>
          </div>
          <div class="centrado2">
            <button mat-stroked-button class="btn" >Añadir alumno</button>
          </div>
      </form>
  </div>
  <div class=" centrado centrado2">
  <form>

    <table align = "center" *ngIf="alumnosAgregados[0]" mat-table [dataSource]="alumnosAgregados" class="example-container mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Nombre Alumno Column -->
          <ng-container matColumnDef="nombreAlumno">
            <th mat-header-cell *matHeaderCellDef style='color:black;text-align: center;'> Nombre </th>
            <td mat-cell *matCellDef="let alumno"> {{alumno.Nombre}} </td>
          </ng-container>

          <!-- Primer Apellido Column -->
          <ng-container matColumnDef="primerApellido">
            <th mat-header-cell *matHeaderCellDef style='color:black;text-align: center;'> Primer Apellido </th>
            <td mat-cell *matCellDef="let alumno"> {{alumno.PrimerApellido}} </td>
          </ng-container>

          <!-- Segundo Apellido Column -->
          <ng-container matColumnDef="segundoApellido">
            <th mat-header-cell *matHeaderCellDef style='color:black;text-align: center;'> Segundo Apellido </th>
            <td mat-cell *matCellDef="let alumno"> {{alumno.SegundoApellido}} </td>
          </ng-container>

          <!-- alumnoId Column -->
          <ng-container matColumnDef="alumnoId">
            <th mat-header-cell *matHeaderCellDef style='color:black;text-align: center;'> Identificador Alumno </th>
            <td mat-cell *matCellDef="let alumno"> {{alumno.id}} </td>
          </ng-container>

          <!-- Delete Column -->
          <ng-container matColumnDef=" ">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let alumno">
                  <button (click) = "BorrarAlumnosAgregados(alumno)" mat-icon-button matTooltip="Borrar a {{alumno.Nombre}} del grupo">
                    <i class="material-icons red md-36">delete</i>
                  </button>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
<!--
        <div>
            <ng-template #Aviso_no_alumnos class="texto">Todavía no hay alumnos agregados</ng-template>
        </div> -->
  </form>
  </div>
</mat-dialog-content>
 <mat-dialog-actions align= "end">
  <button mat-button [mat-dialog-close] class="btn">Cerrar</button>
 </mat-dialog-actions>

