
table {
  width: 100%;
  text-align: center;
  align-content: center;

  table-layout:fixed;
}

.letraCabecera{
  color:white;
  text-align: center;
  font-weight: bold;
  font-size: 90%;
}

.mat-header-row{

  text-align: center;
  background-color:rgb(63, 81, 181);
  }

.mat-row:hover {
  background-color: rgb(204, 197, 197);
  // cursor: pointer;
}


.centrado{
  width: auto;
  height: auto;
  padding: 10px;
  border: 10px solid transparent;
  background-color: transparent;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  // flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centrado2{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  border: 5px solid transparent;
  justify-content: center;
  align-items: center;
}

.material-icons{
  width: 15px;
  height: 15px;
}

.btn{
  margin: 5px;
  align-items: center;
  color: white;
  width: 170px;
}
.texto{
  // margin: 5px;
  width: auto;
  height: auto;
  background-color:transparent;
  text-align: center;
}
