
table {
  width: 100%;
  text-align: center;
  table-layout:fixed;
}

.centrado{
  width: auto;
  height: auto;
  padding: 10px;
  border: 10px solid transparent;
  background-color: transparent;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  // flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centrado2{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  border: 5px solid transparent;
  justify-content: center;
  align-items: center;
}

.material-icons{
  width: 15px;
  height: 15px;
}

.texto{
  // margin: 5px;
  width: auto;
  height: auto;
  background-color:transparent;
  text-align: center;
}
